body
{
    background-color: #f5f5f5;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1
{
    text-align: center;
    color:rgb(233, 199, 199);
    font-size: 120px;
    margin: 20px;
}

.main-grid
{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
}

#form
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: aquamarine;
    grid-column: 2/5;
}

#toggle-all
{
    grid-column: 1;
}

#new-todos
{
    grid-column: 2/4;
}

#todo-list
{
    display: grid;
    grid-column: 2/5;
    background-color: rgb(30, 90, 70);
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    
}

.todo-item
{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}

.toggle-item
{
    grid-column: 1;
}

.todo-value
{
    grid-column: 2/7;
}

.todo-remove
{
    grid-column: 7;
}

.options
{
    display: grid;
    grid-column: 2/5;
    background-color: rgb(30, 71, 90);
}

.all
{
    justify-content: start;
}

.filter-button
{
    justify-content: center;
}


/*
.todo-item
{
    list-style-type: none;
    position: relative;
}

.toggle-item
{
    position:absolute;
    justify-content: start;
}

.todo-value
{
    position:absolute;
    justify-content: center;
}

.todo-remove
{
    position:absolute;
    justify-content: end;
} */


/* #search-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.new-todos{
    width: 30%;
    height: 50px;
    border-color: rgb(243, 243, 243);
    outline: none;
    
} */

.filter-button
{
    list-style-type: none;
}

.info
{
    text-align: center;
    margin: 65px auto 0;
    color: #bfbfbf;
    font-size: 10px;
}
